<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name = "android.permission.VIBRATE" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:replace="android:supportsRtl"
            >
        <receiver
            android:name=".activitis.client.NotifyService"
            android:exported="true" >
            <intent-filter>
                <action android:name=".activitis.client.NotifyService" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activitis.manager.ActivityAllReports"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.FlashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitis.ActivityHistoryBloodDonations"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.client.ActivityMainForm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.client.ActivityPosition"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.client.ActivityMyProfile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.client.ActivityProfileMenu$ActivityQuestionnairePage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.client.ActivityProfileMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.manager.ActivityMenuManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.manager.ActivityPublishingReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivitySignUpPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivityLogIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>