<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".activitis.MainForm"
            android:theme="@style/Theme.MaterialComponents.DayNight"></activity>
        <activity
            android:name="com.example.project.activitis.activityPosition"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activitis.MyProfile"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.QuestionnairePage"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.Menu"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.SignUpPage"
            android:theme="@style/Theme.MaterialComponents"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.MainPage"
            android:theme="@style/Theme.MaterialComponents.DayNight"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>