<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".activitis.ActivityAllReports"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.FlashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitis.ActivityHistoryBloodDonations"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.ActivityMainForm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.ActivityPosition"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".activitis.ActivityMyProfile"
            android:theme="@style/Theme.MaterialComponents.DayNight"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivityProfileMenu$ActivityQuestionnairePage"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivityProfileMenu"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivityMenuManager"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivityPublishingReportsActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivitySignUpPage"
            android:theme="@style/Theme.MaterialComponents"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitis.ActivityLogIn"
            android:theme="@style/Theme.MaterialComponents"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>